doctype html
html(lang="en")
  head
    title= 'Secrets'
  body
    h1 Secrets
    #container
    p.
    Here is where all my secrets go, good thing you logged in!
    p.
    a(href="/logout") Logout
